<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.choi.tour">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GoogleLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.example.choi.tour.MainActivity">

        </activity>
        <activity android:name="com.example.choi.tour.UserInfoActivity">

        </activity>

        <activity android:name="com.example.choi.tour.TravelExpensesActivity"></activity>
        <activity android:name="com.example.choi.tour.MoneyUsageActivity">

        </activity>
        <activity android:name="com.example.choi.tour.PastTravelPlaceActivity">

        </activity>
        <activity android:name="com.example.choi.tour.TravelRouteActivity">

        </activity>
        <activity android:name="com.example.choi.tour.OthersTravelPlaceListActivity">

        </activity>
        <activity android:name="com.example.choi.tour.BookTravelActivity"></activity>
        <activity android:name="com.example.choi.tour.InputConsumeMoneyActivity">

        </activity>
        <activity android:name="com.example.choi.tour.InputGoalMoneyActivity"></activity>

        <activity android:name="com.example.choi.tour.LoginActivity"></activity>
        <activity android:name="com.example.choi.tour.SuccessActivity"></activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>


</manifest>